# This will be created inside of the container
node_modules
build
logs
*.log
db_data
db_logs

# Don't need delevopment files
.github
.vscode
.eslintrc.json
.prettierrc
.gitignore
.env

# Don't need tests
test

# Don't need Docker config files
*Dockerfile
docker-compose.yml
.dockerignore
